*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    margin: 0;
    font-size: 20px;
    background-color: cornflowerblue;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-box {
    max-width: 700px;
    background: #fff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 5px;
}

@keyframes fadeInRight{
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after{
    display: table;
    clear: both;
    content: '';
}

.custom-box.hide {
    display: none;
}
.home-box h3{
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    line-height: 22px;
}

.home-box p span{
    font-weight: 500;
}

.home-box .btn{
    margin-top: 30px;
}

.btn{
    padding: 15px 45px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: cornflowerblue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    cursor: pointer;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
    width: 100%;
    float: left;
}

.quiz-box .question-number{
    font-size: 18px;
    font-weight: 600;
    color: cornflowerblue;
    border-bottom: 1px solid #cccc;
    padding-bottom: 10px;
    line-height: 25px;

}

.quiz-box .question-text{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 20px 0;
    margin: 0;
    line-height: 25px;
}

.quiz-box .option-container .option{
    background-color: #cccc;
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    line-height: 22px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-box .btn{
    margin: 15px 0;
}

.quiz-box .answers-indicator{
    border-top: 1px solid #cccc;
}

.quiz-box .answers-indicator div{
    background-color: #cccc;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-top: 15px;
    display: inline-block;
}

.result-box {
    text-align: center;
}

.result-box.hide {
    display: none;
}
.result-box h1{
    font-size: 35px;
    color: cornflowerblue;
    line-height: 40px;
}

.result-box table{
    width: 100%;
    margin: 30px 0;
    border-collapse: collapse;
}

.result-box table td{
    border: 1px solid #cccc;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: left;
    padding: 8px 15px;
    width: 50%;
}

.result-box .btn{
    margin-right: 20px;
}